Repository PurdueElectricRacing/firmware, pull requests merged in 2024-01, with the labels that each got.

#82 DAQ Read Pin + DAQ on PDU
  common/daq/CMakeLists.txt
  common/daq/daq_base.c
  common/daq/daq_base.h
  common/daq/daq_config.json
  common/daq/per_dbc.dbc
  common/faults/CMakeLists.txt
  common/faults/faults.c
  source/pdu/CMakeLists.txt
  source/pdu/can/can_parse.c
  source/pdu/can/can_parse.h
  source/pdu/daq/daq.c
  source/pdu/daq/daq.h
  source/pdu/main.c
Labels: DAQ24

#85 TV F7 Migration + PCB bring up
  .vscode/launch.json
  common/phal_F4_F7/gpio/gpio.h
  common/phal_F4_F7/usart/usart.c
  common/phal_F4_F7/usart/usart.h
  source/torque_vector/CMakeLists.txt
  source/torque_vector/bmi/bmi088.c
  source/torque_vector/bmi/bmi088.h
  source/torque_vector/bmm/bmm150.c
  source/torque_vector/bmm/bmm150.h
  source/torque_vector/can/can_parse.h
  source/torque_vector/gps/gps.c
  source/torque_vector/gps/gps.h
  source/torque_vector/imu/imu.c
  source/torque_vector/main.c
  source/torque_vector/main.h
Labels: TV24

#86 PDU PIN INIT FIX
  source/pdu/main.c
Labels: bug, PDU24

#87 Abox pin inits, tmu setup
  common/phal_F4_F7/gpio/gpio.h
  source/a_box/main.c
  source/a_box/main.h
  source/a_box/tmu/tmu.c
  source/a_box/tmu/tmu.h
Labels: ABOX24

#88 Update Main to F4, remove old PDU stuff, add SDC mux implementation
  .vscode/launch.json
  common/daq/can_config.json
  common/daq/daq_config.json
  common/daq/per_dbc.dbc
  common/phal_F4_F7/gpio/gpio.h
  common/plettenberg/CMakeLists.txt
  common/plettenberg/plettenberg.h
  source/main_module/CMakeLists.txt
  source/main_module/can/can_parse.c
  source/main_module/can/can_parse.h
  source/main_module/car/car.c
  source/main_module/car/car.h
  source/main_module/cooling/cooling.c
  source/main_module/cooling/cooling.h
  source/main_module/daq/daq.c
  source/main_module/daq/daq.h
  source/main_module/main.c
  source/main_module/main.h
  source/main_module/power_monitor/power_monitor.c
  source/main_module/power_monitor/power_monitor.h
  source/main_module/power_monitor/power_monitor.tsc
Labels: MAIN24
