Repository PurdueElectricRacing/firmware, pull requests merged in 2024-03, with the labels that each got.

#94 tmu temps and faults
  common/faults/fault_config.json
  common/faults/faults.c
  common/faults/faults.h
  source/a_box/main.c
  source/a_box/tmu/tmu.c
  source/a_box/tmu/tmu.h
  source/dashboard/main.c
Labels: ABOX24

#103 Receive RTC time from DAQ App
  common/phal_F4_F7/rtc/rtc.c
  common/phal_F4_F7/rtc/rtc.h
  source/daq/daq_hub/daq_hub.c
  source/daq/daq_hub/daq_hub.h
  source/daq/main.c
Labels: DAQ24

#90 [READY] Dashboard 2024 FCTT
  common/daq/can_config.json
  common/daq/per_dbc.dbc
  common/faults/faults.c
  common/phal_F4_F7/usart/usart.c
  source/dashboard/can/can_parse.c
  source/dashboard/can/can_parse.h
  source/dashboard/hdd/hdd.c
  source/dashboard/hdd/hdd.h
  source/dashboard/lcd/lcd.c
  source/dashboard/lcd/lcd.h
  source/dashboard/main.c
  source/dashboard/main.h
  source/dashboard/nextion/nextion.h
  source/dashboard/pedals/pedals.c
Labels: DASH24
